@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input::placeholder {
        color: #98a2b3;
        font-size: 0.92rem;
        font-weight: 400;
        opacity: 0.8;
    }

    // Fallback for older browsers
    input::-webkit-input-placeholder {
        color: #98a2b3;
        font-size: 0.92rem;
        font-weight: 400;
        opacity: 0.8;
    }

    input::-moz-placeholder {
        color: #98a2b3;
        font-size: 0.92rem;
        font-weight: 400;
        opacity: 0.8;
    }

    input:-ms-input-placeholder {
        color: #98a2b3;
        font-size: 0.92rem;
        font-weight: 400;
        opacity: 0.8;
    }

    input::placeholder {
        color: #98a2b3;
        font-size: 0.92rem;
        font-weight: 400;
        opacity: 0.8;
    }

    input:focus {
        outline: none;
    }

    input[type='password']::-ms-reveal,
    input[type='password']::-ms-clear {
        display: none;
    }
}

@layer components {
    .modify-btn {
        &:hover {
            .trash-icon {
                stroke: #d92d20;
            }

            .pen-icon {
                stroke: #039855;
            }
        }
    }
}
